<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<meta name="description" content= "你借我贷是专为急需用钱的人打造而来，只需你实名认证就可以成为我们的会员，享受超低   利息借贷服务，你可以利用本款软件极速借款无需任何抵押担保！">
	<link rel="shortcut icon" href="/images/njwd-favicon.ico" />
	<link rel="stylesheet" href="/css/public.css">
	<link rel="stylesheet" href="/css/layer.css">
	<title>你借我贷是专为急需用钱的人打造而来，只需你实名认证就可以成为我们的会员，享受超低 利息借贷服务，你可以利用本款软件极速借款无需任何抵押担保！</title>
</head>

<body class="b_color">
	<div class="release clearfix">
		<a href="javascript:;">
			<img src="images/2.png" alt="" class="njwd-logo">
		</a>
	</div>
	<div class="pt20 pb20 bd_f5 pl24 c999 font26 b_txt">联系人资料</div>
	<ul class="card_edit">
		<li class="clearfix">
			<label for="" class="fl">姓名</label>
			<input type="text" placeholder="请填写姓名" id="name" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">年龄</label>
			<input type="tel" placeholder="请填写年龄" oninput="value=value.replace(/[^\d]/g,'')" id="age" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">手机</label>
			<input type="tel" placeholder="请填写手机号码" id="phone" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">微信</label>
			<input type="tel" placeholder="请填微信号" id="wechat" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">芝麻分</label>
			<input type="tel"  placeholder="请填写芝麻分" id="score" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">银行卡号</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写银行卡号" id="bankNum" />
		</li>
		<li class="clearfix">
			<label for="" class="fl">归属银行</label>
			<input type="text" placeholder="请填写归属银行" id="bank"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">身份证号</label>
			<input type="text" placeholder="请填写身份证号" id="card"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">现住地址</label>
			<input type="text" placeholder="请填写现住地址" id="address"/>
		</li>
	</ul>
	<div class="pt20 pb20 bd_f5 pl24 c999 font26 b_txt">紧急联系人</div>
	<ul class="card_edit">
		<li class="clearfix">
			<label for="" class="fl">配偶</label>
			<input type="text" placeholder="请填写配偶姓名" id="wife"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">配偶电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写配偶电话" id="wifePhone"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">父亲</label>
			<input type="text" placeholder="请填写父亲姓名" id="father"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">父亲电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写父亲电话" id="fatherPhone"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">母亲</label>
			<input type="text" placeholder="请填写母亲姓名" id="mother"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">母亲电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写母亲电话" id="motherPhone"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">朋友</label>
			<input type="text" placeholder="请填写朋友姓名" id="friend"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">朋友电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写朋友电话" id="friendPhone"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">同事</label>
			<input type="text" placeholder="请填写同事姓名" id="workmate"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">同事电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写同事电话" id="workmatePhone"/>
		</li>
	</ul>
	<div class="pt20 pb20 bd_f5 pl24 c999 font26 b_txt">紧急联系人</div>
	<ul class="card_edit">
		<li class="clearfix">
			<label for="" class="fl">公司名称</label>
			<input type="text" placeholder="请填写公司名称" id="workUnit"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">职位</label>
			<input type="text" placeholder="请填写职位" id="work"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">单位电话</label>
			<input type="tel" autofocus="autofocus" placeholder="请填写单位电话" id="unitPhone"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">具体地址</label>
			<input type="text" placeholder="请填写公司具体地址" id="workAddress"/>
		</li>
		<li class="clearfix">
			<label for="" class="fl">社保</label>
			<input type="text" placeholder="请填写社保" id="socialSecurity"/>
		</li>
	</ul>
	<div class="you-btn">
		
			<p class="tj_hb yellow_grad" id="submit-btn">提交</p>
		
	</div>
</body>

</html>
<script type="text/javascript" src="/js/view/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/view/layer.js"></script>
<script type="text/javascript" src="/js/view/submit.js"></script>
